@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Catgory</h1>

<form asp-action="Delete" method="post">
    <div>
        <label>Employee Name</label>
        <input asp-for="Name" name="Name" class="form-control" />
    </div>

    <div>
        <label>Employee Phone</label>
        <textarea asp-for="Phone" name="Phone" class="form-control mb-3"></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>

</form>

