@model Category
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Catgory</h1>

<form asp-action="Delete" method="post">
    <div>
        <label>Category Name</label>
        <input asp-for="Name" name="Name" class="form-control" />
    </div>

    <div>
        <label>Category Description</label>
        <textarea asp-for="Description" name="Description" class="form-control mb-3"></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>

</form>

